# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Keycloak systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ keycloak_identifier }}.service"
  register: keycloak_service_stat

- name: Uninstall Keycloak systemd services and files
  when: keycloak_service_stat.stat.exists | bool
  block:
    - name: Ensure Keycloak systemd service is stopped
      ansible.builtin.service:
        name: "{{ keycloak_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Keycloak systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ keycloak_identifier }}.service"
        state: absent

    - name: Ensure Keycloak container network does not exist
      when: keycloak_container_network_deletion_enabled
      block:
        - name: Ensure Keycloak container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ keycloak_container_network }}"
            state: absent
          register: keycloak_network_deletion_result

        - name: Ensure Keycloak container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ keycloak_container_network }}
          register: keycloak_network_deletion_result
          changed_when: keycloak_container_network in keycloak_network_deletion_result.stdout

    - name: Ensure Keycloak path does not exist
      ansible.builtin.file:
        path: "{{ keycloak_base_path }}"
        state: absent
