# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---


- name: (Deprecation) Catch and report renamed settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "item.old in vars"
  with_items:
    - {'old': 'keycloak_environment_variable_kc_proxy', 'new': '<superseded by keycloak_environment_variable_kc_proxy_headers and keycloak_environment_variable_kc_http_enabled - see https://www.keycloak.org/docs/24.0.0/upgrading/#deprecated-proxy-option>'}
    - {'old': 'keycloak_systemd_required_systemd_services_list_default', 'new': 'keycloak_systemd_required_services_list_default'}
    - {'old': 'keycloak_systemd_required_systemd_services_list_auto', 'new': 'keycloak_systemd_required_services_list_auto'}
    - {'old': 'keycloak_systemd_required_systemd_services_list_custom', 'new': 'keycloak_systemd_required_services_list_custom'}

- name: Fail if required Keycloak settings not defined
  ansible.builtin.fail:
    msg: >
      You need to define a required configuration setting (`{{ item }}`).
  when: "vars[item] == ''"
  with_items:
    - keycloak_identifier
    - keycloak_uid
    - keycloak_gid
    - keycloak_hostname
    - keycloak_path_prefix
    - keycloak_container_network
    - keycloak_database_hostname
    - keycloak_database_name
    - keycloak_database_username
    - keycloak_database_password

- when: keycloak_container_labels_traefik_enabled | bool
  block:
    - name: Fail if required Keycloak Traefik settings not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "vars[item] == ''"
      with_items:
        - keycloak_container_labels_traefik_hostname
        - keycloak_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `keycloak_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if keycloak_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          keycloak_container_labels_traefik_path_prefix (`{{ keycloak_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/keycloak`).
      when: "keycloak_container_labels_traefik_path_prefix != '/' and keycloak_container_labels_traefik_path_prefix[-1] == '/'"
