#jinja2: lstrip_blocks: "True"
[Unit]
Description=Keycloak ({{ keycloak_identifier }})
{% for service in keycloak_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ keycloak_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ keycloak_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ keycloak_identifier }} \
			--log-driver=none \
			--cap-drop=ALL \
			--network={{ keycloak_container_network }} \
			{% if keycloak_container_http_bind_port %}
			-p {{ keycloak_container_http_bind_port }}:8080 \
			{% endif %}
			--env-file={{ keycloak_base_path }}/env \
			--label-file={{ keycloak_base_path }}/labels \
			{% for volume in keycloak_container_additional_volumes %}
			--mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options | default('') else '' }} \
			{% endfor %}
			{% for arg in keycloak_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ keycloak_container_image }} \
			{{ keycloak_container_command }}

{% for network in keycloak_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ keycloak_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ keycloak_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ keycloak_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ keycloak_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ keycloak_identifier }}

[Install]
WantedBy=multi-user.target
